<!-- This file '_form.html.erb' is considered to be a partial which means you can
include it in any other template( such as new.html.erb and edit.html.erb)
You must start the partial with '_'. Partials have access to the same instance
variables available in the templates (eg @questions) -->


<%= @question.errors.full_messages.join(", ")%>

<%=form_for @question do |f| %>

  <div class="">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
<br>
  <div class="text-area">

    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="">
    <%= f.label :category%>
    <%= f.collection_select :category_id, Category.order(:name), :id, :name %>

  </div>

  <div class="">
    <%= f.label :tag_ids %>
    <%= f.collection_check_boxes :tag_ids, Tag.order(:name), :id, :name %>
  </div>

 <%= f.submit %>
 <% end%>
