<h1><%=@question.title %></h1>
<p><%= @question.body %></p>
<p>View count: <%= @question.view_count%></p>
<p>Created by: <%= @question.user_full_name.titleize %></p>

<!-- can? is a helper method that came from CANCANCAN gem to help us
enforce authorization rules in the views and controllers. We didn't specify
put rules for :edit and :destroy but we put a rule for :manage which includes
both of them -->
<% if can? :crud, @question %>
<%= link_to "Edit", edit_question_path(@question)%>
<%end%>
<% if can? :crud, @question %>
<%= link_to "Delete", question_path(@question),
                      method: :delete,
                      data: {confirm: 'Are you sure?'} %>
<% end %>
<hr>

<%=@answer.errors.full_messages.join(", ")%>
<%#= form_for @answer, url: question_answers_path(@question) do |f| %>
<%= form_for [@question, @answer] do |f| %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>

<h2><% @question.answers.each do |a|%></h2>
  <p>Answer: <%= a.body %></p>
  <p>by: <%= a.user_full_name.titleize %></p>
  <%# if can? :destroy, a %>

  <%= link_to "delete", question_answer_path(@question, a),
                        data: {confirm: "Are you sure?"},
                        method: :delete %>
   <%# end%>
  <hr>
  <% end %>
