<!-- dom_id is used to generate a unique HTML id for elements in the ActiveRecord
object. It uses the object type and its id to generate a unique id -->

<div id="<%= dom_id(answer) %>" style="<%= style if defined?(style)%>">

<p>Answer: <%= answer.body %></p>
<p>by: <%= answer.user_full_name.titleize %></p>
<%# if can? :destroy, a %>

<%= link_to "delete", question_answer_path(@question, answer),
                      data: {confirm: "Are you sure?"},
                      method: :delete,
                      remote: true %>
 <%# end%>

 <% if can? :edit, answer %>
 <%= link_to "Edit", edit_question_answer_path(@question, answer), remote: true,
 data: {toggle: "modal", target: "#edit-answer"}, class: "btn btn-primary btn-sm" %>
 <% end %>
</div>
<hr>
