<!DOCTYPE html>
<html>
<head>
  <title>AwesomeAnswers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <a href="<%= home_path%>">Home</a>
  |
  <%# link_to is a helper method that comes from rails which generates an <a> html element.
    the link_to method takes two primary arguments. The first argument is for teh anchor link
     and the second argument is for the 'href' value (where you want to link to)%>
  <%= link_to "Home", home_path %>
  |
  <a href="<%=aboot_path%>">Aboot</a>
  |
  <%= link_to "Aboot", aboot_path %>
  |


<%= yield %>
</body>

</html>
